.swipperContainer{
  width: 100%;
}

.swiper-slide img {
  width: 100%;
  object-fit: cover;
}

.miPrimerCarrusel{
  padding-bottom: 20px;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
  bottom: 0px;
}
